{{ define "content" -}}
  {{ $lang := .Site.Data.even.default -}}
  <article class="post">
    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>

      <div class="post-meta">
        <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
        {{ with .Params.categories -}}
          <div class="post-category">
            {{ range . -}}
              <a href="{{ "categories" | relURL }}/{{ . | urlize }}/">{{ . }}</a>
            {{- end }}
          </div>
        {{- end }}
        {{ if .Site.Params.moreMeta -}}
        <span class="more-meta"> {{ printf $lang.posts.header.wordCount .WordCount }} </span>
        <span class="more-meta"> {{ printf $lang.posts.header.readingTime .ReadingTime }} </span>
        {{- end }}
      </div>
    </header>

    <!-- TOC -->
    {{ partial "post/toc.html" . }}

    <!-- Content -->
    <div class="post-content">
      {{ .Content }}

      <div  class="fb-page"
            data-href="https://www.facebook.com/notaboutcode/"
            data-tabs=""
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="true">

            <blockquote cite="https://www.facebook.com/notaboutcode/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/notaboutcode/">Not about code</a>
            </blockquote>
      </div>
    </div>

    <!-- Facebook root -->
    <div id="fb-root"></div>

    <!-- Copyright -->
    {{ partial "post/copyright.html" . }}

    <!-- Reward -->
    {{ partial "post/reward.html" . }}

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . }}
          <a href="{{ "tags" | relURL }}/{{ . | urlize }}/">{{ . }}</a>
          {{ end }}
        </div>
      {{- end }}

      <div class="fb-comments"
           data-numposts="5"></div>
      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection }}
          <a class="prev" href="{{ .URL }}">
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ $lang.posts.prev_post }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection }}
          <a class="next" href="{{ .URL }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ $lang.posts.next_post }}</span>
            <i class="iconfont icon-right"></i>
          </a>
        {{- end }}
      </nav>
    </footer>
  </article>
{{- end }}
